# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS / editor
.DS_Store
.vscode/

# Data files
data/raw/*.csv
!data/raw/vehicles_raw.csv
data/raw/*.xlsx
data/raw/*.parquet
data/raw/*.json
data/processed/*.csv
!data/processed/vehicles_cleaned.csv
data/processed/*.xlsx
data/processed/*.parquet
data/processed/*.json

# Outputs
*.log
